<p id="notice"><%= notice %></p>
<div class="container">
  <div class="tweet-cont">
    <h1>Tweets</h1>
  
    <div class="card-body mb-3">
      <% @tweets.each do |tweet| %>

          <ul>
            <li><%= link_to(image_tag(current_user.picture), current_user) if current_user.picture? %></li>
            <li  class="list-group-item"><h3><%= tweet.user_id %></h3></li>
            <!--< Card body >-->
            <li  class="list-group-item"><%= link_to(image_tag(tweet.image), tweet) if tweet.image? %></li>
            <li class="list-group-item"><%= tweet.content.truncate(150)  %></li>
            <li  class="list-group-item"> <div class="text-muted">
              <small><%= time_ago_in_words(tweet.created_at) %> ago</small></div></ li>
          </ul>
          <!--<% link_to 'Show', tweet, class: "btn btn-primary" %>
          <% link_to 'Edit', edit_tweet_path(tweet) %> 
          <% link_to 'Eliminar', tweet, method: :delete, data: { confirm: 'Are you  sure?' } %>-->
      <% end %>
    </div>

    <%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-buttom' %>
  </div>
</div>