<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tweet.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tweet.user.name %>
</p>

<%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%>

<% like = @tweet.likes.where user: current_user %> 
<% if like.present? %>
  <%= link_to 'unlike', tweet_like_path(@tweet, like.first), method: :delete %>
<% else %>
  <%= link_to  tweet_likes_path(@tweet), method: :post do %>
    <i class="fas fa-heart"></i>
  <% end %> 
<% end %> 

<%= link_to tweets_path do %>
  <i class="fas fa-arrow-left"></i> Back
<% end %> 

<div class="my-3">
  <% @users.each do |pic|%>
      <%  if @tweet.likes.find{ |like| like.user_id == pic.id}%>
        <img src=" <%= pic.picture %> "style="weigth: 70px; height: 70px;" class="m-3"><br>
      <% end %>
  <% end %>
  </div>
</div>

