<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tweet.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user_id %>
</p>

<p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<%= link_to 'Back', tweets_path %> |
<% like = @tweet.likes.where user: current_user %> 
<% if like.present? %>
  <%= link_to 'unlike', tweet_like_path(@tweet, like.first), method: :delete %>
<% else %>
  <%= link_to 'Like', tweet_likes_path(@tweet), method: :post %>
<% end %>