<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tweet.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user_id %>
</p>

<p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<%= link_to 'Like', tweet_likes_path(tweet), method: :post %> %>
<%= link_to 'Back', tweets_path %>
